{
  "openapi": "3.0.0",
  "info": {
    "title": "SelectPrism External APIs",
    "version": "1.0.0",
    "description": "REST API endpoints for external integrations"
  },
  "servers": [
    {
      "url": "https://recruit-server.prismforce.com/user-app/api/external",
      "description": "Production Server"
    },
    {
      "url": "https://recruit-server.pfuat.xyz/user-app/api/external",
      "description": "UAT Server"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Bearer token for external API authentication (most common)"
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key for internal service-to-service communication"
      }
    },
    "schemas": {
      "OAuthTokenRequest": {
        "type": "object",
        "properties": {
          "grant_type": {
            "type": "string",
            "enum": [
              "client_credentials"
            ],
            "description": "OAuth 2.0 grant type (only client_credentials is supported"
          },
          "client_id": {
            "type": "string",
            "description": "OAuth client ID provided by Prism"
          },
          "client_secret": {
            "type": "string",
            "description": "OAuth client secret provided by Prism"
          }
        },
        "required": [
          "grant_type",
          "client_id",
          "client_secret"
        ],
        "additionalProperties": false
      },
      "CreateJobAssessmentRequest": {
        "type": "object",
        "properties": {
          "assessmentId": {
            "type": "string",
            "description": "Job ID in external system"
          },
          "title": {
            "type": "string",
            "description": "Assessment title"
          },
          "role": {
            "type": "string",
            "description": "Job role"
          },
          "description": {
            "type": "string",
            "description": "Job description"
          },
          "skills": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Key skills for the job"
          },
          "secondarySkills": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Secondary skills for the job"
          },
          "experienceRange": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "nullable": true,
            "description": "Experience range in years"
          },
          "locationDetailed": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "locations": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "city": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "city"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "additionalProperties": false,
            "nullable": true
          },
          "joiningTimeframe": {
            "type": "string",
            "nullable": true,
            "description": "Expected joining time frame"
          },
          "ctcRange": {
            "type": "string",
            "nullable": true,
            "description": "Cost to Company"
          },
          "difficulty": {
            "type": "string",
            "nullable": true,
            "description": "Assessment difficulty level"
          },
          "noticePeriod": {
            "type": "string",
            "nullable": true,
            "description": "Notice period requirement"
          },
          "seniorityLevel": {
            "type": "string",
            "nullable": true,
            "description": "Seniority level"
          },
          "employmentType": {
            "type": "string",
            "nullable": true,
            "description": "Type of employment"
          },
          "isManager": {
            "type": "boolean",
            "description": "Is this a managerial position"
          },
          "requirements": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Job requirements"
          },
          "responsibilities": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Job responsibilities"
          }
        },
        "required": [
          "title",
          "role",
          "description"
        ],
        "additionalProperties": false
      },
      "JobAssessmentConfigRequest": {
        "type": "object",
        "properties": {
          "assessmentId": {
            "type": "string"
          },
          "questions": {
            "type": "object",
            "properties": {
              "coding": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "codingQuestionsTimeLimit": {
                    "type": "integer",
                    "minimum": 1
                  }
                },
                "required": [
                  "count",
                  "codingQuestionsTimeLimit"
                ],
                "additionalProperties": false
              },
              "hr": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer",
                    "minimum": 1
                  }
                },
                "required": [
                  "count"
                ],
                "additionalProperties": false
              },
              "technical": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer",
                    "minimum": 1
                  }
                },
                "required": [
                  "count"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "technical"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "questions"
        ],
        "additionalProperties": false
      },
      "AddCandidatesRequest": {
        "type": "object",
        "properties": {
          "invite": {
            "type": "boolean"
          },
          "expiresInDays": {
            "type": "integer"
          },
          "candidates": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "candidateId": {
                  "type": "string"
                },
                "email": {
                  "type": "string",
                  "format": "email"
                },
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "noticePeriod": {
                  "type": "string"
                },
                "yearsOfExperience": {
                  "type": "string"
                },
                "currentRole": {
                  "type": "string"
                },
                "currentCtc": {
                  "type": "string"
                },
                "currentCity": {
                  "type": "string"
                }
              },
              "required": [
                "email",
                "firstName",
                "lastName"
              ],
              "additionalProperties": false
            },
            "minItems": 1,
            "maxItems": 100
          }
        },
        "required": [
          "candidates"
        ],
        "additionalProperties": false
      },
      "CandidateResumeRequest": {
        "type": "object",
        "properties": {
          "candidateId": {
            "type": "string"
          },
          "fileType": {
            "type": "string",
            "enum": [
              "pdf",
              "docx",
              "doc"
            ]
          },
          "fileName": {
            "type": "string"
          },
          "base64EncodedFileContents": {
            "type": "string"
          }
        },
        "required": [
          "candidateId",
          "fileType",
          "fileName",
          "base64EncodedFileContents"
        ],
        "additionalProperties": false
      },
      "CandidateAssessmentRequest": {
        "type": "object",
        "properties": {
          "assessmentId": {
            "type": "string"
          },
          "candidateId": {
            "type": "string"
          },
          "candidateAssessmentId": {
            "type": "string"
          }
        },
        "required": [
          "assessmentId",
          "candidateId",
          "candidateAssessmentId"
        ],
        "additionalProperties": false
      },
      "CreateInterviewItem": {
        "type": "object",
        "properties": {
          "eventId": {
            "type": "string",
            "minLength": 1,
            "description": "Client-provided event ID for duplicate prevention"
          },
          "externalCandidateAssessmentId": {
            "type": "string",
            "minLength": 1,
            "description": "Candidate Assessment ID for which interview is to be created"
          },
          "expiryInSeconds": {
            "type": "integer",
            "minimum": 60,
            "maximum": 864000,
            "description": "Expiry time for the interview in seconds"
          }
        },
        "required": [
          "eventId",
          "externalCandidateAssessmentId",
          "expiryInSeconds"
        ],
        "additionalProperties": false
      },
      "RegenerateInterviewRequest": {
        "type": "object",
        "properties": {
          "eventId": {
            "type": "string",
            "minLength": 1,
            "description": "Event ID is required for duplicate prevention"
          },
          "interviewId": {
            "type": "string",
            "minLength": 1,
            "description": "Interview ID which needs to be reset"
          },
          "expiryInSeconds": {
            "type": "number",
            "format": "float",
            "minimum": 60,
            "maximum": 864000,
            "description": "Expiry time of the interview in seconds"
          }
        },
        "required": [
          "eventId",
          "interviewId",
          "expiryInSeconds"
        ],
        "additionalProperties": false
      },
      "SearchAndMatchWebhookRequest": {
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string"
          },
          "doc_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "doc_type": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "parent_id": {
            "type": "string"
          },
          "pii_info": {
            "type": "object",
            "properties": {
              "name": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "links": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "email": {
                "type": "string",
                "format": "email"
              },
              "mobile_number": {
                "type": "string"
              }
            },
            "nullable": true
          }
        },
        "required": [
          "client_id",
          "doc_id",
          "status",
          "doc_type",
          "timestamp",
          "parent_id"
        ]
      },
      "DuplicateEventErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer",
            "description": "HTTP status code",
            "example": 409
          },
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Duplicate request"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "CONFLICT"
              },
              "details": {
                "type": "string",
                "example": "Request with this eventId has already been processed"
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer",
            "description": "HTTP status code",
            "example": 200
          },
          "success": {
            "type": "boolean",
            "description": "Indicates if the request was successful",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {},
            "additionalProperties": false,
            "description": "Response payload data"
          },
          "message": {
            "type": "string",
            "description": "Human-readable success message",
            "example": "Request processed successfully"
          }
        },
        "additionalProperties": false
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer",
            "description": "HTTP status code",
            "example": 400
          },
          "success": {
            "type": "boolean",
            "description": "Always false for errors",
            "example": false
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message",
            "example": "Request validation failed"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Machine-readable error code",
                "example": "VALIDATION_ERROR"
              },
              "details": {
                "type": "string",
                "description": "Detailed error information",
                "example": "Invalid request parameters"
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "object",
            "properties": {},
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Field-specific validation errors"
          }
        },
        "additionalProperties": false
      },
      "UnauthorizedError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Unauthorized"
          }
        },
        "additionalProperties": false
      },
      "RateLimitError": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer",
            "example": 429
          },
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Too many requests - rate limit exceeded"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "RATE_LIMIT_EXCEEDED"
              },
              "details": {
                "type": "string",
                "example": "Please retry after some time"
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "AcceptedResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer",
            "description": "HTTP status code for accepted requests",
            "example": 202
          },
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {},
            "additionalProperties": false
          },
          "message": {
            "type": "string",
            "description": "Indicates async processing has started",
            "example": "Request accepted for processing"
          }
        },
        "additionalProperties": false
      },
      "OAuthTokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "JWT access token for API authentication"
          },
          "token_type": {
            "type": "string",
            "description": "Token type (always Bearer)",
            "example": "Bearer"
          },
          "expires_in": {
            "type": "integer",
            "description": "Token expiration time in seconds",
            "example": 3600
          }
        },
        "additionalProperties": false
      },
      "OAuthErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "enum": [
              "invalid_client",
              "unsupported_grant_type",
              "server_error"
            ],
            "example": "invalid_client"
          },
          "errorDescription": {
            "type": "string",
            "example": "Client authentication failed"
          }
        },
        "additionalProperties": false
      },
      "StatusMessageDataSuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "success"
          },
          "statusCode": {
            "type": "integer",
            "description": "HTTP status code (2xx)",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "Human-readable success message"
          },
          "data": {
            "type": "object",
            "properties": {},
            "additionalProperties": false,
            "description": "Response payload (shape varies by endpoint)"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Optional ISO 8601 timestamp"
          }
        },
        "required": [
          "status",
          "statusCode",
          "message",
          "data"
        ],
        "additionalProperties": false
      },
      "StatusMessageTimestampErrorResponse404": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "error"
          },
          "message": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "statusCode": {
            "type": "integer",
            "description": "HTTP 404 Not Found",
            "example": 404
          }
        },
        "required": [
          "status",
          "message",
          "timestamp",
          "statusCode"
        ],
        "additionalProperties": false
      },
      "StatusMessageTimestampErrorResponse500": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "error"
          },
          "message": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "statusCode": {
            "type": "integer",
            "description": "HTTP 500 Internal Server Error",
            "example": 500
          }
        },
        "required": [
          "status",
          "message",
          "timestamp",
          "statusCode"
        ],
        "additionalProperties": false
      },
      "AddCandidatesSuccessResponseSync": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "invitationRequestId": {
            "type": "string",
            "description": "Optional invitation request ID (when invite is true)"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {},
              "additionalProperties": false
            },
            "description": "Array of candidate upload results"
          },
          "message": {
            "type": "string",
            "example": "Candidates added successfully"
          }
        },
        "required": [
          "success",
          "data",
          "message"
        ],
        "additionalProperties": false
      },
      "AddCandidatesSuccessResponseAsync": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "req_abc123"
              },
              "candidateCount": {
                "type": "integer",
                "example": 5
              }
            },
            "additionalProperties": false
          },
          "message": {
            "type": "string",
            "example": "Candidate addition request submitted for 5 candidates. Candidates will be processed and added to the assessment."
          }
        },
        "required": [
          "success",
          "data",
          "message"
        ],
        "additionalProperties": false
      },
      "ResumeUploadSuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {},
            "additionalProperties": false,
            "description": "Empty object on success"
          },
          "message": {
            "type": "string",
            "example": "Resume uploaded successfully"
          }
        },
        "required": [
          "success",
          "data",
          "message"
        ],
        "additionalProperties": false
      },
      "ResumeUploadErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "INTERNAL_SERVER_ERROR"
              },
              "details": {
                "type": "string",
                "example": "Internal Server Error"
              }
            },
            "additionalProperties": false
          }
        },
        "required": [
          "success",
          "error"
        ],
        "additionalProperties": false
      },
      "CandidateAssessmentSuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "candidateId": {
                "type": "string",
                "example": "candidate_456"
              },
              "assessmentId": {
                "type": "string",
                "example": "assessment_123"
              },
              "candidateAssessmentId": {
                "type": "string",
                "example": "ca_789"
              }
            },
            "additionalProperties": false
          },
          "message": {
            "type": "string",
            "example": "Candidate added to assessment successfully"
          }
        },
        "required": [
          "success",
          "data",
          "message"
        ],
        "additionalProperties": false
      },
      "CandidateAssessmentInternalErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "INTERNAL_SERVER_ERROR"
              },
              "details": {
                "type": "string",
                "example": "Internal Server Error"
              }
            },
            "additionalProperties": false
          },
          "message": {
            "type": "string",
            "example": "Failed to add candidate to assessment"
          }
        },
        "required": [
          "success",
          "error",
          "message"
        ],
        "additionalProperties": false
      },
      "SearchAndMatchData": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "success"
          },
          "candidateAssessmentId": {
            "type": "string",
            "example": "ca_123456"
          },
          "externalCandidateAssessmentId": {
            "type": "string",
            "nullable": true,
            "example": "ext_ca_123456"
          },
          "matchScore": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "example": 78.5
          },
          "recommendation": {
            "type": "string",
            "example": "Strong match"
          },
          "justification": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SearchAndMatchDataSuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "success"
          },
          "statusCode": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "Search and match data found!"
          },
          "data": {
            "$ref": "#/components/schemas/SearchAndMatchData"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "status",
          "statusCode",
          "message",
          "data"
        ],
        "additionalProperties": false
      },
      "SearchAndMatchWebhookSuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Webhook received successfully"
          }
        },
        "required": [
          "success",
          "message"
        ],
        "additionalProperties": false
      },
      "ForbiddenResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Forbidden"
          }
        },
        "additionalProperties": false
      },
      "EmptyObjectResponse": {
        "type": "object",
        "properties": {},
        "additionalProperties": false,
        "description": "Empty object returned on webhook processing error"
      },
      "InterviewCreationSuccessResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer",
            "example": 202
          },
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {},
            "additionalProperties": false,
            "description": "Empty object"
          },
          "message": {
            "type": "string",
            "example": "Interview creation request accepted"
          }
        },
        "required": [
          "statusCode",
          "success",
          "data",
          "message"
        ],
        "additionalProperties": false
      },
      "InterviewCreationErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer",
            "example": 400
          },
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Interview creation request failed"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "VALIDATION_ERROR"
              },
              "details": {
                "type": "string",
                "example": "Invalid request parameters"
              }
            },
            "additionalProperties": false
          }
        },
        "required": [
          "statusCode",
          "success",
          "message",
          "error"
        ],
        "additionalProperties": false
      },
      "InterviewRegenerateSuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "success"
          },
          "statusCode": {
            "type": "integer",
            "example": 200
          },
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {},
            "additionalProperties": false,
            "description": "Empty object"
          },
          "message": {
            "type": "string",
            "example": "Interview regeneration request accepted"
          }
        },
        "required": [
          "status",
          "statusCode",
          "success",
          "data",
          "message"
        ],
        "additionalProperties": false
      },
      "RecordingDetailsSuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "success"
          },
          "statusCode": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "Recording details retrieved successfully"
          },
          "data": {
            "type": "object",
            "properties": {
              "recordingUrl": {
                "type": "string",
                "example": "https://example.com/recording.mp4"
              },
              "recordingId": {
                "type": "string",
                "example": "rec_123456"
              },
              "recordingStatus": {
                "type": "string",
                "enum": [
                  "completed",
                  "in_progress",
                  "failed"
                ],
                "example": "completed"
              },
              "interviewId": {
                "type": "string",
                "example": "intv_123456"
              }
            },
            "additionalProperties": false
          }
        },
        "required": [
          "status",
          "statusCode",
          "message",
          "data"
        ],
        "additionalProperties": false
      },
      "RecordingDetailsErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Error retrieving recording details"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "details": {
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        },
        "required": [
          "success",
          "message",
          "error"
        ],
        "additionalProperties": false
      },
      "ProctoringDataSuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Recording details retrieved successfully"
          },
          "data": {
            "type": "object",
            "properties": {
              "clientId": {
                "type": "string"
              },
              "interviewId": {
                "type": "string"
              },
              "details": {
                "type": "object",
                "properties": {},
                "additionalProperties": false
              }
            },
            "additionalProperties": false
          }
        },
        "required": [
          "success",
          "message",
          "data"
        ],
        "additionalProperties": false
      },
      "ProctoringDataErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Error retrieving recording details"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "details": {
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        },
        "required": [
          "success",
          "message",
          "error"
        ],
        "additionalProperties": false
      },
      "InterviewResultsSuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Interview results retrieved successfully"
          },
          "data": {
            "type": "object",
            "properties": {},
            "additionalProperties": false,
            "description": "Interview report from getInterviewResults"
          }
        },
        "required": [
          "success",
          "message",
          "data"
        ],
        "additionalProperties": false
      },
      "InterviewResultsDataErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Error retrieving interview results | Interview result not found"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "details": {
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        },
        "required": [
          "success",
          "message",
          "error"
        ],
        "additionalProperties": false
      },
      "WebhookStatus": {
        "type": "string",
        "enum": [
          "succeeded",
          "failed",
          "ready"
        ],
        "description": "Outcome status of the webhook event"
      },
      "WebhookEntityType": {
        "type": "string",
        "enum": [
          "candidate-assessment",
          "interview",
          "job-assessment",
          "candidate",
          "candidate-upload"
        ],
        "description": "The type of entity the event relates to"
      },
      "WebhookSourceService": {
        "type": "string",
        "enum": [
          "core-api",
          "job-assessment-service",
          "candidate-service"
        ],
        "description": "Internal service that generated the webhook"
      },
      "WebhookMeta": {
        "type": "object",
        "properties": {
          "pfTransactionId": {
            "type": "string",
            "description": "ULID transaction ID; matches the root envelope pfTransactionId",
            "example": "01JNMQ2V7KXYZ1234567890AB"
          },
          "sourceService": {
            "$ref": "#/components/schemas/WebhookSourceService"
          },
          "candidateAssessmentId": {
            "type": "string",
            "description": "Present on interview and candidate-assessment events",
            "example": "ca_01JNMQ2V7K"
          }
        },
        "required": [
          "pfTransactionId",
          "sourceService"
        ],
        "additionalProperties": false
      },
      "WebhookDataBase": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer",
            "description": "HTTP-equivalent status code for the operation",
            "example": 200
          },
          "status": {
            "$ref": "#/components/schemas/WebhookStatus"
          },
          "message": {
            "type": "string",
            "example": "success"
          },
          "entityId": {
            "type": "string",
            "description": "Internal Prism ID of the affected entity",
            "example": "entity_01JNMQ2V7K"
          },
          "entityType": {
            "$ref": "#/components/schemas/WebhookEntityType"
          },
          "code": {
            "type": "string",
            "description": "Application-level error code (present on failure events only)",
            "example": "INTERNAL_SERVER_ERROR"
          }
        },
        "required": [
          "statusCode",
          "status",
          "message"
        ],
        "additionalProperties": false
      },
      "WebhookBody": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique event ID with evt_ prefix",
            "example": "evt_01JNMQ2V7KXYZ1234567890AB"
          },
          "clientId": {
            "type": "string",
            "description": "External client identifier",
            "example": "ucqcjbxnuk"
          },
          "pfTransactionId": {
            "type": "string",
            "description": "ULID used for end-to-end tracing",
            "example": "01JNMQ2V7KXYZ1234567890AB"
          },
          "eventType": {
            "type": "string",
            "description": "Webhook event name (see individual event schemas)",
            "example": "interview.creation.succeeded"
          },
          "environment": {
            "type": "string",
            "description": "Deployment environment",
            "example": "production"
          },
          "version": {
            "type": "string",
            "example": "1.0"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp when the event was generated",
            "example": "2024-01-15T10:30:00.000Z"
          },
          "data": {
            "$ref": "#/components/schemas/WebhookDataBase"
          },
          "meta": {
            "$ref": "#/components/schemas/WebhookMeta"
          }
        },
        "required": [
          "id",
          "clientId",
          "pfTransactionId",
          "eventType",
          "environment",
          "version",
          "timestamp",
          "data",
          "meta"
        ],
        "additionalProperties": false
      },
      "WebhookEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookBody"
            },
            "minItems": 1,
            "maxItems": 1,
            "description": "The data array always contains exactly one event body"
          }
        },
        "required": [
          "data"
        ],
        "additionalProperties": false,
        "description": "Top-level payload POSTed to the client webhook URL."
      },
      "LegacyWebhookBody": {
        "type": "object",
        "properties": {
          "event": {
            "type": "string",
            "description": "Webhook event name"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp when the event was generated",
            "example": "2024-01-15T10:30:00.000Z"
          },
          "pfTransactionId": {
            "type": "string",
            "description": "ULID for end-to-end tracing",
            "example": "01JNMQ2V7KXYZ1234567890AB"
          },
          "data": {
            "type": "object",
            "properties": {},
            "additionalProperties": false,
            "description": "Event-specific payload"
          }
        },
        "required": [
          "event",
          "timestamp",
          "pfTransactionId",
          "data"
        ],
        "additionalProperties": false
      },
      "LegacyWebhookEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LegacyWebhookBody"
            },
            "minItems": 1
          }
        },
        "required": [
          "data"
        ],
        "additionalProperties": false,
        "description": "Top-level envelope for legacy webhook events. Note: does NOT include id, clientId, environment, version, or meta."
      },
      "CandidateAssessmentEventData": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "status": {
            "$ref": "#/components/schemas/WebhookStatus"
          },
          "message": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          },
          "entityType": {
            "type": "string",
            "enum": [
              "candidate-assessment"
            ],
            "example": "candidate-assessment"
          },
          "code": {
            "type": "string"
          },
          "externalCandidateAssessmentId": {
            "type": "string",
            "description": "Client-supplied candidate assessment ID",
            "example": "ext_ca_12345"
          }
        },
        "required": [
          "statusCode",
          "status",
          "message"
        ],
        "additionalProperties": false
      },
      "JobAssessmentEventData": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "status": {
            "$ref": "#/components/schemas/WebhookStatus"
          },
          "message": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          },
          "entityType": {
            "type": "string",
            "enum": [
              "job-assessment"
            ],
            "example": "job-assessment"
          },
          "code": {
            "type": "string"
          },
          "externalJobAssessmentId": {
            "type": "string",
            "description": "Client-supplied job assessment ID (externalSystemId)",
            "example": "ext_jd_56789"
          }
        },
        "required": [
          "statusCode",
          "status",
          "message"
        ],
        "additionalProperties": false
      },
      "CandidateEventData": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "status": {
            "$ref": "#/components/schemas/WebhookStatus"
          },
          "message": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          },
          "entityType": {
            "type": "string",
            "enum": [
              "candidate"
            ],
            "example": "candidate"
          },
          "code": {
            "type": "string"
          },
          "externalCandidateId": {
            "type": "string",
            "description": "Client-supplied candidate ID",
            "example": "ext_cand_98765"
          }
        },
        "required": [
          "statusCode",
          "status",
          "message"
        ],
        "additionalProperties": false
      },
      "SearchAndMatchGeneratedData": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "status": {
            "$ref": "#/components/schemas/WebhookStatus"
          },
          "message": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          },
          "entityType": {
            "type": "string",
            "enum": [
              "candidate-assessment"
            ],
            "example": "candidate-assessment"
          },
          "code": {
            "type": "string"
          },
          "candidateAssessmentId": {
            "type": "string",
            "description": "Internal Prism candidate assessment ID",
            "example": "ca_01JNMQ2V7K"
          },
          "externalCandidateAssessmentId": {
            "type": "string",
            "description": "Client-supplied candidate assessment ID",
            "example": "ext_ca_12345"
          },
          "matchScore": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Numerical match score between candidate and job assessment (0–100)",
            "example": 78.5
          }
        },
        "required": [
          "statusCode",
          "status",
          "message",
          "candidateAssessmentId",
          "externalCandidateAssessmentId"
        ],
        "additionalProperties": false
      },
      "CandidateAssessmentInterviewReadyData": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "status": {
            "$ref": "#/components/schemas/WebhookStatus"
          },
          "message": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          },
          "entityType": {
            "type": "string",
            "enum": [
              "candidate-assessment"
            ],
            "example": "candidate-assessment"
          },
          "code": {
            "type": "string"
          },
          "candidateAssessmentId": {
            "type": "string",
            "description": "Internal Prism candidate assessment ID",
            "example": "ca_01JNMQ2V7K"
          },
          "externalCandidateAssessmentId": {
            "type": "string",
            "description": "Client-supplied candidate assessment ID",
            "example": "ext_ca_12345"
          }
        },
        "required": [
          "statusCode",
          "status",
          "message",
          "candidateAssessmentId",
          "externalCandidateAssessmentId"
        ],
        "additionalProperties": false
      },
      "InterviewCreationSucceededData": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "status": {
            "$ref": "#/components/schemas/WebhookStatus"
          },
          "message": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          },
          "entityType": {
            "type": "string",
            "enum": [
              "interview"
            ],
            "example": "interview"
          },
          "code": {
            "type": "string"
          },
          "interviewId": {
            "type": "string",
            "description": "Prism interview ID",
            "example": "intv_01JNMQ2V7K"
          },
          "interviewLink": {
            "type": "string",
            "description": "Link the candidate uses to start the interview",
            "example": "https://app.prismforce.com/interview/intv_01JNMQ2V7K"
          },
          "expiryDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date-time after which the interview link expires",
            "example": "2024-01-25T10:30:00.000Z"
          },
          "candidateAssessmentId": {
            "type": "string",
            "description": "Internal Prism candidate assessment ID",
            "example": "ca_01JNMQ2V7K"
          },
          "externalCandidateAssessmentId": {
            "type": "string",
            "description": "Client-supplied candidate assessment ID",
            "example": "ext_ca_12345"
          }
        },
        "required": [
          "statusCode",
          "status",
          "message",
          "interviewId",
          "interviewLink",
          "expiryDate",
          "candidateAssessmentId",
          "externalCandidateAssessmentId"
        ],
        "additionalProperties": false
      },
      "InterviewCreationFailedData": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "status": {
            "$ref": "#/components/schemas/WebhookStatus"
          },
          "message": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          },
          "entityType": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "externalCandidateAssessmentId": {
            "type": "string",
            "description": "Client-supplied candidate assessment ID",
            "example": "ext_ca_12345"
          },
          "candidateAssessmentId": {
            "type": "string",
            "description": "Present when the candidate assessment record was found",
            "example": "ca_01JNMQ2V7K"
          }
        },
        "required": [
          "statusCode",
          "status",
          "message",
          "externalCandidateAssessmentId"
        ],
        "additionalProperties": false
      },
      "InterviewResetSucceededData": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "status": {
            "$ref": "#/components/schemas/WebhookStatus"
          },
          "message": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          },
          "entityType": {
            "type": "string",
            "enum": [
              "interview"
            ],
            "example": "interview"
          },
          "code": {
            "type": "string"
          },
          "interviewId": {
            "type": "string",
            "description": "New interview ID after reset",
            "example": "intv_01JNMQ2V7K"
          },
          "previousInterviewId": {
            "type": "string",
            "description": "Interview ID that was reset and replaced",
            "example": "intv_01JNMPREV"
          },
          "interviewLink": {
            "type": "string",
            "description": "New interview link for the candidate",
            "example": "https://app.prismforce.com/interview/intv_01JNMQ2V7K"
          },
          "expiryDate": {
            "type": "string",
            "format": "date-time",
            "description": "Expiry date of the new interview link",
            "example": "2024-01-25T10:30:00.000Z"
          }
        },
        "required": [
          "statusCode",
          "status",
          "message",
          "interviewId",
          "previousInterviewId",
          "interviewLink",
          "expiryDate"
        ],
        "additionalProperties": false
      },
      "InterviewResetFailedData": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "status": {
            "$ref": "#/components/schemas/WebhookStatus"
          },
          "message": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          },
          "entityType": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "interviewId": {
            "type": "string",
            "description": "ID of the interview that failed to reset",
            "example": "intv_01JNMQ2V7K"
          }
        },
        "required": [
          "statusCode",
          "status",
          "message",
          "interviewId"
        ],
        "additionalProperties": false
      },
      "InterviewCreatedData": {
        "type": "object",
        "properties": {
          "candidateAssessmentId": {
            "type": "string",
            "description": "Client-supplied external candidate assessment ID",
            "example": "ext_ca_12345"
          },
          "interviewId": {
            "type": "string",
            "description": "Prism interview ID",
            "example": "intv_01JNMQ2V7K"
          },
          "interviewLink": {
            "type": "string",
            "description": "URL the candidate uses to start the interview",
            "example": "https://app.prismforce.com/interview/intv_01JNMQ2V7K"
          },
          "expiryDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date-time when the interview link expires",
            "example": "2024-01-25T10:30:00.000Z"
          }
        },
        "required": [
          "candidateAssessmentId",
          "interviewId",
          "interviewLink",
          "expiryDate"
        ],
        "additionalProperties": false
      },
      "InterviewReportGeneratedData": {
        "type": "object",
        "properties": {
          "interviewReportId": {
            "type": "string",
            "description": "ID of the generated interview report",
            "example": "report_01JNMQ2V7K"
          }
        },
        "required": [
          "interviewReportId"
        ],
        "additionalProperties": false
      },
      "RecordingDataGeneratedData": {
        "type": "object",
        "properties": {
          "interviewId": {
            "type": "string"
          },
          "recordingId": {
            "type": "string"
          },
          "recordingUrl": {
            "type": "string"
          },
          "recordingStatus": {
            "type": "string"
          }
        },
        "required": [
          "interviewId"
        ],
        "additionalProperties": false
      },
      "ProctoringDataGeneratedData": {
        "type": "object",
        "properties": {
          "interviewId": {
            "type": "string"
          }
        },
        "required": [
          "interviewId"
        ],
        "additionalProperties": false
      },
      "CandidateBelowSnmThresholdData": {
        "type": "object",
        "properties": {
          "candidateAssessmentId": {
            "type": "string"
          },
          "externalCandidateAssessmentId": {
            "type": "string"
          },
          "matchScore": {
            "type": "number",
            "format": "float"
          }
        },
        "additionalProperties": false
      },
      "CandidateAssessmentCreationSucceededWebhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "clientId": {
            "type": "string"
          },
          "pfTransactionId": {
            "type": "string"
          },
          "eventType": {
            "type": "string",
            "enum": [
              "candidate_assessment.creation.succeeded"
            ]
          },
          "environment": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "data": {
            "$ref": "#/components/schemas/CandidateAssessmentEventData"
          },
          "meta": {
            "$ref": "#/components/schemas/WebhookMeta"
          }
        },
        "required": [
          "id",
          "clientId",
          "pfTransactionId",
          "eventType",
          "environment",
          "version",
          "timestamp",
          "data",
          "meta"
        ],
        "additionalProperties": false
      },
      "CandidateAssessmentCreationFailedWebhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "clientId": {
            "type": "string"
          },
          "pfTransactionId": {
            "type": "string"
          },
          "eventType": {
            "type": "string",
            "enum": [
              "candidate_assessment.creation.failed"
            ]
          },
          "environment": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "data": {
            "$ref": "#/components/schemas/CandidateAssessmentEventData"
          },
          "meta": {
            "$ref": "#/components/schemas/WebhookMeta"
          }
        },
        "required": [
          "id",
          "clientId",
          "pfTransactionId",
          "eventType",
          "environment",
          "version",
          "timestamp",
          "data",
          "meta"
        ],
        "additionalProperties": false
      },
      "CandidateAssessmentInterviewReadyWebhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "clientId": {
            "type": "string"
          },
          "pfTransactionId": {
            "type": "string"
          },
          "eventType": {
            "type": "string",
            "enum": [
              "candidate_assessment.interview.ready"
            ]
          },
          "environment": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "data": {
            "$ref": "#/components/schemas/CandidateAssessmentInterviewReadyData"
          },
          "meta": {
            "$ref": "#/components/schemas/WebhookMeta"
          }
        },
        "required": [
          "id",
          "clientId",
          "pfTransactionId",
          "eventType",
          "environment",
          "version",
          "timestamp",
          "data",
          "meta"
        ],
        "additionalProperties": false
      },
      "JobDescriptionParseSucceededWebhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "clientId": {
            "type": "string"
          },
          "pfTransactionId": {
            "type": "string"
          },
          "eventType": {
            "type": "string",
            "enum": [
              "job_description.parse.succeeded"
            ]
          },
          "environment": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "data": {
            "$ref": "#/components/schemas/JobAssessmentEventData"
          },
          "meta": {
            "$ref": "#/components/schemas/WebhookMeta"
          }
        },
        "required": [
          "id",
          "clientId",
          "pfTransactionId",
          "eventType",
          "environment",
          "version",
          "timestamp",
          "data",
          "meta"
        ],
        "additionalProperties": false
      },
      "JobDescriptionParseFailedWebhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "clientId": {
            "type": "string"
          },
          "pfTransactionId": {
            "type": "string"
          },
          "eventType": {
            "type": "string",
            "enum": [
              "job_description.parse.failed"
            ]
          },
          "environment": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "data": {
            "$ref": "#/components/schemas/JobAssessmentEventData"
          },
          "meta": {
            "$ref": "#/components/schemas/WebhookMeta"
          }
        },
        "required": [
          "id",
          "clientId",
          "pfTransactionId",
          "eventType",
          "environment",
          "version",
          "timestamp",
          "data",
          "meta"
        ],
        "additionalProperties": false
      },
      "CandidateCreationSucceededWebhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "clientId": {
            "type": "string"
          },
          "pfTransactionId": {
            "type": "string"
          },
          "eventType": {
            "type": "string",
            "enum": [
              "candidate.creation.succeeded"
            ]
          },
          "environment": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "data": {
            "$ref": "#/components/schemas/CandidateEventData"
          },
          "meta": {
            "$ref": "#/components/schemas/WebhookMeta"
          }
        },
        "required": [
          "id",
          "clientId",
          "pfTransactionId",
          "eventType",
          "environment",
          "version",
          "timestamp",
          "data",
          "meta"
        ],
        "additionalProperties": false
      },
      "CandidateCreationFailedWebhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "clientId": {
            "type": "string"
          },
          "pfTransactionId": {
            "type": "string"
          },
          "eventType": {
            "type": "string",
            "enum": [
              "candidate.creation.failed"
            ]
          },
          "environment": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "data": {
            "$ref": "#/components/schemas/CandidateEventData"
          },
          "meta": {
            "$ref": "#/components/schemas/WebhookMeta"
          }
        },
        "required": [
          "id",
          "clientId",
          "pfTransactionId",
          "eventType",
          "environment",
          "version",
          "timestamp",
          "data",
          "meta"
        ],
        "additionalProperties": false
      },
      "CandidateUpdateSucceededWebhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "clientId": {
            "type": "string"
          },
          "pfTransactionId": {
            "type": "string"
          },
          "eventType": {
            "type": "string",
            "enum": [
              "candidate.update.succeeded"
            ]
          },
          "environment": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "data": {
            "$ref": "#/components/schemas/CandidateEventData"
          },
          "meta": {
            "$ref": "#/components/schemas/WebhookMeta"
          }
        },
        "required": [
          "id",
          "clientId",
          "pfTransactionId",
          "eventType",
          "environment",
          "version",
          "timestamp",
          "data",
          "meta"
        ],
        "additionalProperties": false
      },
      "CandidateUpdateFailedWebhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "clientId": {
            "type": "string"
          },
          "pfTransactionId": {
            "type": "string"
          },
          "eventType": {
            "type": "string",
            "enum": [
              "candidate.update.failed"
            ]
          },
          "environment": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "data": {
            "$ref": "#/components/schemas/CandidateEventData"
          },
          "meta": {
            "$ref": "#/components/schemas/WebhookMeta"
          }
        },
        "required": [
          "id",
          "clientId",
          "pfTransactionId",
          "eventType",
          "environment",
          "version",
          "timestamp",
          "data",
          "meta"
        ],
        "additionalProperties": false
      },
      "CandidateResumeParsingSucceededWebhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "clientId": {
            "type": "string"
          },
          "pfTransactionId": {
            "type": "string"
          },
          "eventType": {
            "type": "string",
            "enum": [
              "candidate.resume_parsing.succeeded"
            ]
          },
          "environment": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "data": {
            "$ref": "#/components/schemas/CandidateEventData"
          },
          "meta": {
            "$ref": "#/components/schemas/WebhookMeta"
          }
        },
        "required": [
          "id",
          "clientId",
          "pfTransactionId",
          "eventType",
          "environment",
          "version",
          "timestamp",
          "data",
          "meta"
        ],
        "additionalProperties": false
      },
      "CandidateResumeParsingFailedWebhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "clientId": {
            "type": "string"
          },
          "pfTransactionId": {
            "type": "string"
          },
          "eventType": {
            "type": "string",
            "enum": [
              "candidate.resume_parsing.failed"
            ]
          },
          "environment": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "data": {
            "$ref": "#/components/schemas/CandidateEventData"
          },
          "meta": {
            "$ref": "#/components/schemas/WebhookMeta"
          }
        },
        "required": [
          "id",
          "clientId",
          "pfTransactionId",
          "eventType",
          "environment",
          "version",
          "timestamp",
          "data",
          "meta"
        ],
        "additionalProperties": false
      },
      "InterviewCreationSucceededWebhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "clientId": {
            "type": "string"
          },
          "pfTransactionId": {
            "type": "string"
          },
          "eventType": {
            "type": "string",
            "enum": [
              "interview.creation.succeeded"
            ]
          },
          "environment": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "data": {
            "$ref": "#/components/schemas/InterviewCreationSucceededData"
          },
          "meta": {
            "$ref": "#/components/schemas/WebhookMeta"
          }
        },
        "required": [
          "id",
          "clientId",
          "pfTransactionId",
          "eventType",
          "environment",
          "version",
          "timestamp",
          "data",
          "meta"
        ],
        "additionalProperties": false
      },
      "InterviewCreationFailedWebhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "clientId": {
            "type": "string"
          },
          "pfTransactionId": {
            "type": "string"
          },
          "eventType": {
            "type": "string",
            "enum": [
              "interview.creation.failed"
            ]
          },
          "environment": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "data": {
            "$ref": "#/components/schemas/InterviewCreationFailedData"
          },
          "meta": {
            "$ref": "#/components/schemas/WebhookMeta"
          }
        },
        "required": [
          "id",
          "clientId",
          "pfTransactionId",
          "eventType",
          "environment",
          "version",
          "timestamp",
          "data",
          "meta"
        ],
        "additionalProperties": false
      },
      "InterviewResetSucceededWebhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "clientId": {
            "type": "string"
          },
          "pfTransactionId": {
            "type": "string"
          },
          "eventType": {
            "type": "string",
            "enum": [
              "interview.reset.succeeded"
            ]
          },
          "environment": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "data": {
            "$ref": "#/components/schemas/InterviewResetSucceededData"
          },
          "meta": {
            "$ref": "#/components/schemas/WebhookMeta"
          }
        },
        "required": [
          "id",
          "clientId",
          "pfTransactionId",
          "eventType",
          "environment",
          "version",
          "timestamp",
          "data",
          "meta"
        ],
        "additionalProperties": false
      },
      "InterviewResetFailedWebhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "clientId": {
            "type": "string"
          },
          "pfTransactionId": {
            "type": "string"
          },
          "eventType": {
            "type": "string",
            "enum": [
              "interview.reset.failed"
            ]
          },
          "environment": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "data": {
            "$ref": "#/components/schemas/InterviewResetFailedData"
          },
          "meta": {
            "$ref": "#/components/schemas/WebhookMeta"
          }
        },
        "required": [
          "id",
          "clientId",
          "pfTransactionId",
          "eventType",
          "environment",
          "version",
          "timestamp",
          "data",
          "meta"
        ],
        "additionalProperties": false
      },
      "SearchAndMatchGeneratedWebhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "clientId": {
            "type": "string"
          },
          "pfTransactionId": {
            "type": "string"
          },
          "eventType": {
            "type": "string",
            "enum": [
              "search.and.match.data.generated"
            ]
          },
          "environment": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "data": {
            "$ref": "#/components/schemas/SearchAndMatchGeneratedData"
          },
          "meta": {
            "$ref": "#/components/schemas/WebhookMeta"
          }
        },
        "required": [
          "id",
          "clientId",
          "pfTransactionId",
          "eventType",
          "environment",
          "version",
          "timestamp",
          "data",
          "meta"
        ],
        "additionalProperties": false
      },
      "InterviewCreatedWebhook": {
        "type": "object",
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "interview.created"
            ]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "pfTransactionId": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/InterviewCreatedData"
          }
        },
        "required": [
          "event",
          "timestamp",
          "pfTransactionId",
          "data"
        ],
        "additionalProperties": false
      },
      "InterviewReportGeneratedWebhook": {
        "type": "object",
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "interview.report.generated"
            ]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "pfTransactionId": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/InterviewReportGeneratedData"
          }
        },
        "required": [
          "event",
          "timestamp",
          "pfTransactionId",
          "data"
        ],
        "additionalProperties": false
      },
      "RecordingDataGeneratedWebhook": {
        "type": "object",
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "recording.data.generated"
            ]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "pfTransactionId": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/RecordingDataGeneratedData"
          }
        },
        "required": [
          "event",
          "timestamp",
          "pfTransactionId",
          "data"
        ],
        "additionalProperties": false
      },
      "ProctoringDataGeneratedWebhook": {
        "type": "object",
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "proctoring.data.generated"
            ]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "pfTransactionId": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/ProctoringDataGeneratedData"
          }
        },
        "required": [
          "event",
          "timestamp",
          "pfTransactionId",
          "data"
        ],
        "additionalProperties": false
      },
      "CandidateBelowSnmThresholdWebhook": {
        "type": "object",
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "candidate.below_snm_threshold"
            ]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "pfTransactionId": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/CandidateBelowSnmThresholdData"
          }
        },
        "required": [
          "event",
          "timestamp",
          "pfTransactionId",
          "data"
        ],
        "additionalProperties": false
      }
    }
  },
  "paths": {
    "/oauth/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Generate OAuth access token",
        "description": "Obtain an access token using client credentials grant type for API authentication",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OAuthTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - unsupported grant type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid client credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/job-assessments": {
      "post": {
        "tags": [
          "Job Assessments"
        ],
        "summary": "Create a new job assessment",
        "description": "Create a new job assessment with role, skills, and requirements",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJobAssessmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job assessment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/candidates": {
      "post": {
        "tags": [
          "Candidates"
        ],
        "summary": "Add candidates",
        "description": "Add one or more candidates to the system",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCandidatesRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Candidates added successfully (sync returns result array; async returns requestId and candidateCount)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddCandidatesSuccessResponseSync"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/candidates/resume": {
      "post": {
        "tags": [
          "Candidates"
        ],
        "summary": "Attach resume to candidate",
        "description": "Upload and attach a resume file to an existing candidate. Valid file types are **pdf**, **docx**, and **doc**.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CandidateResumeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resume attached successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResumeUploadSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResumeUploadErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/candidates/assessments": {
      "post": {
        "tags": [
          "Applications"
        ],
        "summary": "Create candidate assessment",
        "description": "Create an assessment for a candidate on a specific job",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CandidateAssessmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Candidate assessment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateAssessmentSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Assessment or candidate not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateAssessmentInternalErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/interviews": {
      "post": {
        "tags": [
          "Interviews"
        ],
        "summary": "Create a new interview",
        "description": "Create a new interview for a candidate assessment",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInterviewItem"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Interview creation request accepted (processing asynchronously)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterviewCreationSuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - duplicate eventId detected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateEventErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterviewCreationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/interviews/regenerate": {
      "post": {
        "tags": [
          "Interviews"
        ],
        "summary": "Regenerate an existing interview",
        "description": "Reset and regenerate an existing interview with a new expiry time",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegenerateInterviewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Interview regeneration request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterviewRegenerateSuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - duplicate eventId detected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateEventErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageTimestampErrorResponse500"
                }
              }
            }
          }
        }
      }
    },
    "/interviews/{interviewId}/recordings": {
      "get": {
        "tags": [
          "Interviews"
        ],
        "summary": "Get interview recording details",
        "description": "Retrieve recording URLs and metadata for an interview",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "interviewId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "intv_123456"
            },
            "description": "Interview ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Recording details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordingDetailsSuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Interview or recordings not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordingDetailsErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordingDetailsErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/interviews/{interviewId}/proctoring": {
      "get": {
        "tags": [
          "Interviews"
        ],
        "summary": "Get interview proctoring data",
        "description": "Retrieve raw proctoring data including screenshots and monitoring logs",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "interviewId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "intv_123456"
            },
            "description": "Interview ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Proctoring data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProctoringDataSuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Interview or proctoring data not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProctoringDataErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProctoringDataErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/interviews/results/{interviewResultId}": {
      "get": {
        "tags": [
          "Interviews"
        ],
        "summary": "Get interview results",
        "description": "Retrieve detailed results for a completed interview",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "interviewResultId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "result_123456"
            },
            "description": "Interview result ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Interview results retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterviewResultsSuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Interview result not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterviewResultsDataErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterviewResultsDataErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search-and-match/webhook": {
      "post": {
        "tags": [
          "Applications"
        ],
        "summary": "Search and match webhook",
        "description": "Webhook endpoint to receive search and match processing results",
        "security": [
          {
            "webhookApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchAndMatchWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchAndMatchWebhookSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid webhook API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid or missing webhook API key",
            "content": {
              "application/json": {
                "schema": {
[...]
