{
  "openapi": "3.0.0",
  "info": {
    "title": "SelectPrism External APIs",
    "version": "1.0.0",
    "description": "REST API endpoints for external integrations"
  },
  "servers": [
    {
      "url": "https://recruit-server.pfuat.xyz/user-app/api/external",
      "description": "UAT Server"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/candidates/assessments": {
      "post": {
        "tags": [
          "Applications"
        ],
        "summary": "Create candidate assessment",
        "description": "Create an assessment for a candidate on a specific job",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CandidateAssessmentRequest"
              },
              "example": {
                "assessmentId": "assessment_123",
                "candidateId": "candidate_456",
                "candidateAssessmentId": "ca_789"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Candidate assessment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateAssessmentSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Assessment or candidate not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateAssessmentInternalErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search-and-match/webhook": {
      "post": {
        "tags": [
          "Applications"
        ],
        "summary": "Search and match webhook",
        "description": "Webhook endpoint to receive search and match processing results",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchAndMatchWebhookRequest"
              },
              "example": {
                "client_id": "client_123",
                "doc_id": "doc_456",
                "status": "completed",
                "doc_type": "resume",
                "timestamp": "2026-03-11T10:30:00.000Z",
                "parent_id": "parent_789",
                "pii_info": {
                  "name": [
                    "John Doe"
                  ],
                  "email": "john.doe@example.com",
                  "mobile_number": "+91-9876543210",
                  "links": [
                    "https://linkedin.com/in/johndoe"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchAndMatchWebhookSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid webhook API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid or missing webhook API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "500": {
            "description": "Webhook processing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyObjectResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search-and-match/{externalCandidateAssessmentId}/candidate-assessments": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Get search and match data",
        "description": "Retrieve search and match data for a specific candidate assessment",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "externalCandidateAssessmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ext_ca_123456",
            "description": "External candidate assessment ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Search and match data found!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchAndMatchDataSuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Search and Match data not found!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageTimestampErrorResponse404"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageTimestampErrorResponse500"
                }
              }
            }
          }
        }
      }
    },
    "/candidates": {
      "post": {
        "tags": [
          "Candidates"
        ],
        "summary": "Add candidates",
        "description": "Add one or more candidates to the system",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCandidatesRequest"
              },
              "example": {
                "invite": true,
                "expiresInDays": 7,
                "candidates": [
                  {
                    "email": "john.doe@example.com",
                    "firstName": "John",
                    "lastName": "Doe",
                    "yearsOfExperience": "5",
                    "currentRole": "Software Engineer",
                    "currentCity": "Bangalore"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Candidates added successfully (sync returns result array; async returns requestId and candidateCount)",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/AddCandidatesSuccessResponseSync"
                    },
                    {
                      "$ref": "#/components/schemas/AddCandidatesSuccessResponseAsync"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/candidates/resume": {
      "post": {
        "tags": [
          "Candidates"
        ],
        "summary": "Attach resume to candidate",
        "description": "Upload and attach a resume file to an existing candidate.\nValid file types are **pdf**, **docx**, and **doc**.\n",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CandidateResumeRequest"
              },
              "example": {
                "candidateId": "cand_123456",
                "fileType": "pdf",
                "fileName": "john_doe_resume.pdf",
                "base64EncodedFileContents": "JVBERi0xLjQKJeLjz9MKMSAwIG9iago..."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resume attached successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResumeUploadSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResumeUploadErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/interviews": {
      "post": {
        "tags": [
          "Interviews"
        ],
        "summary": "Create a new interview",
        "description": "Create a new interview for a candidate assessment",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInterviewItem"
              },
              "example": {
                "eventId": "evt_test_123",
                "externalCandidateAssessmentId": "87487364234",
                "expiryInSeconds": 86400
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Interview creation request accepted (processing asynchronously)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterviewCreationSuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - duplicate eventId detected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateEventErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterviewCreationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/interviews/regenerate": {
      "post": {
        "tags": [
          "Interviews"
        ],
        "summary": "Regenerate an existing interview",
        "description": "Reset and regenerate an existing interview with a new expiry time",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegenerateInterviewRequest"
              },
              "example": {
                "eventId": "evt_regen_123",
                "interviewId": "intv_987654",
                "expiryInSeconds": 86400
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Interview regeneration request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterviewRegenerateSuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - duplicate eventId detected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateEventErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error (only error response for this endpoint)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageTimestampErrorResponse500"
                }
              }
            }
          }
        }
      }
    },
    "/interviews/{interviewId}/recordings": {
      "get": {
        "tags": [
          "Interviews"
        ],
        "summary": "Get interview recording details",
        "description": "Retrieve recording URLs and metadata for an interview",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "interviewId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "intv_123456",
            "description": "Interview ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Recording details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordingDetailsSuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Interview or recordings not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordingDetailsErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordingDetailsErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/interviews/{interviewId}/proctoring": {
      "get": {
        "tags": [
          "Interviews"
        ],
        "summary": "Get interview proctoring data",
        "description": "Retrieve raw proctoring data including screenshots and monitoring logs",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "interviewId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "intv_123456",
            "description": "Interview ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Proctoring data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProctoringDataSuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Interview or proctoring data not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProctoringDataErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProctoringDataErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/interviews/results/{interviewResultId}": {
      "get": {
        "tags": [
          "Interviews"
        ],
        "summary": "Get interview results",
        "description": "Retrieve detailed results for a completed interview",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "interviewResultId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "result_123456",
            "description": "Interview result ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Interview results retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterviewResultsSuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Interview result not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterviewResultsDataErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterviewResultsDataErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/job-assessments": {
      "post": {
        "tags": [
          "Job Assessments"
        ],
        "summary": "Create a new job assessment",
        "description": "Create a new job assessment with role, skills, and requirements",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJobAssessmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job assessment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "assessmentId": {
                          "type": "string",
                          "example": "jba_123456"
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Assessment created successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "statusCode",
                    "success",
                    "error"
                  ],
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 500
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "details"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "internal server error"
                        },
                        "details": {
                          "type": "string",
                          "example": "An internal server error occurred"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Generate OAuth access token",
        "description": "Obtain an access token using client credentials grant type for API authentication",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OAuthTokenRequest"
              },
              "example": {
                "grant_type": "client_credentials",
                "client_id": "prism_client_abc123",
                "client_secret": "secret_xyz789"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - unsupported grant type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid client credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CandidateAssessmentEventData": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookDataBase"
          },
          {
            "type": "object",
            "properties": {
              "entityType": {
                "type": "string",
                "enum": [
                  "candidate-assessment"
                ],
                "example": "candidate-assessment"
              },
              "externalCandidateAssessmentId": {
                "type": "string",
                "description": "Client-supplied candidate assessment ID",
                "example": "ext_ca_12345"
              }
            }
          }
        ]
      },
      "CandidateAssessmentCreationSucceededWebhook": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookBody"
          },
          {
            "type": "object",
            "properties": {
              "eventType": {
                "type": "string",
                "enum": [
                  "candidate_assessment.creation.succeeded"
                ],
                "example": "candidate_assessment.creation.succeeded"
              },
              "data": {
                "$ref": "#/components/schemas/CandidateAssessmentEventData"
              },
              "meta": {
                "$ref": "#/components/schemas/WebhookMeta"
              }
            }
          }
        ]
      },
      "CandidateAssessmentCreationSucceededEnvelope": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookEnvelope"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CandidateAssessmentCreationSucceededWebhook"
                }
              }
            }
          }
        ],
        "example": {
          "data": [
            {
              "id": "evt_01JNMQ2V7KXYZ1234567890AB",
              "clientId": "ucqcjbxnuk",
              "pfTransactionId": "01JNMQ2V7KXYZ1234567890AB",
              "eventType": "candidate_assessment.creation.succeeded",
              "environment": "production",
              "version": "1.0",
              "timestamp": "2024-01-15T10:30:00.000Z",
              "data": {
                "statusCode": 200,
                "status": "succeeded",
                "message": "success",
                "entityId": "ca_01JNMQ2V7K",
                "entityType": "candidate-assessment",
                "externalCandidateAssessmentId": "ext_ca_12345"
              },
              "meta": {
                "pfTransactionId": "01JNMQ2V7KXYZ1234567890AB",
                "sourceService": "job-assessment-service"
              }
            }
          ]
        }
      },
      "CandidateAssessmentCreationFailedWebhook": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookBody"
          },
          {
            "type": "object",
            "properties": {
              "eventType": {
                "type": "string",
                "enum": [
                  "candidate_assessment.creation.failed"
                ],
                "example": "candidate_assessment.creation.failed"
              },
              "data": {
                "$ref": "#/components/schemas/CandidateAssessmentEventData"
              },
              "meta": {
                "$ref": "#/components/schemas/WebhookMeta"
              }
            }
          }
        ]
      },
      "CandidateAssessmentCreationFailedEnvelope": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookEnvelope"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CandidateAssessmentCreationFailedWebhook"
                }
              }
            }
          }
        ],
        "example": {
          "data": [
            {
              "id": "evt_01JNMQ2V7KXYZ1234567890AB",
              "clientId": "ucqcjbxnuk",
              "pfTransactionId": "01JNMQ2V7KXYZ1234567890AB",
              "eventType": "candidate_assessment.creation.failed",
              "environment": "production",
              "version": "1.0",
              "timestamp": "2024-01-15T10:30:00.000Z",
              "data": {
                "statusCode": 500,
                "status": "failed",
                "message": "something went wrong",
                "code": "INTERNAL_SERVER_ERROR",
                "entityType": "candidate-assessment",
                "externalCandidateAssessmentId": "ext_ca_12345"
              },
              "meta": {
                "pfTransactionId": "01JNMQ2V7KXYZ1234567890AB",
                "sourceService": "job-assessment-service"
              }
            }
          ]
        }
      },
      "CandidateAssessmentInterviewReadyData": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookDataBase"
          },
          {
            "type": "object",
            "required": [
              "candidateAssessmentId",
              "externalCandidateAssessmentId"
            ],
            "properties": {
              "entityType": {
                "type": "string",
                "enum": [
                  "candidate-assessment"
                ],
                "example": "candidate-assessment"
              },
              "candidateAssessmentId": {
                "type": "string",
                "description": "Internal Prism candidate assessment ID",
                "example": "ca_01JNMQ2V7K"
              },
              "externalCandidateAssessmentId": {
                "type": "string",
                "description": "Client-supplied candidate assessment ID",
                "example": "ext_ca_12345"
              }
            }
          }
        ]
      },
      "CandidateAssessmentInterviewReadyWebhook": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookBody"
          },
          {
            "type": "object",
            "properties": {
              "eventType": {
                "type": "string",
                "enum": [
                  "candidate_assessment.interview.ready"
                ],
                "example": "candidate_assessment.interview.ready"
              },
              "data": {
                "$ref": "#/components/schemas/CandidateAssessmentInterviewReadyData"
              },
              "meta": {
                "$ref": "#/components/schemas/WebhookMeta"
              }
            }
          }
        ]
      },
      "CandidateAssessmentInterviewReadyEnvelope": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookEnvelope"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CandidateAssessmentInterviewReadyWebhook"
                }
              }
            }
          }
        ],
        "example": {
          "data": [
            {
              "id": "evt_01JNMQ2V7KXYZ1234567890AB",
              "clientId": "ucqcjbxnuk",
              "pfTransactionId": "01JNMQ2V7KXYZ1234567890AB",
              "eventType": "candidate_assessment.interview.ready",
              "environment": "production",
              "version": "1.0",
              "timestamp": "2024-01-15T10:30:00.000Z",
              "data": {
                "statusCode": 200,
                "status": "succeeded",
                "message": "success",
                "entityId": "ca_01JNMQ2V7K",
                "entityType": "candidate-assessment",
                "candidateAssessmentId": "ca_01JNMQ2V7K",
                "externalCandidateAssessmentId": "ext_ca_12345"
              },
              "meta": {
                "pfTransactionId": "01JNMQ2V7KXYZ1234567890AB",
                "sourceService": "core-api"
              }
            }
          ]
        }
      },
      "CandidateEventData": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookDataBase"
          },
          {
            "type": "object",
            "properties": {
              "entityType": {
                "type": "string",
                "enum": [
                  "candidate"
                ],
                "example": "candidate"
              },
              "externalCandidateId": {
                "type": "string",
                "description": "Client-supplied candidate ID",
                "example": "ext_cand_98765"
              }
            }
          }
        ]
      },
      "CandidateCreationSucceededWebhook": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookBody"
          },
          {
            "type": "object",
            "properties": {
              "eventType": {
                "type": "string",
                "enum": [
                  "candidate.creation.succeeded"
                ],
                "example": "candidate.creation.succeeded"
              },
              "data": {
                "$ref": "#/components/schemas/CandidateEventData"
              },
              "meta": {
                "$ref": "#/components/schemas/WebhookMeta"
              }
            }
          }
        ]
      },
      "CandidateCreationSucceededEnvelope": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookEnvelope"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CandidateCreationSucceededWebhook"
                }
              }
            }
          }
        ],
        "example": {
          "data": [
            {
              "id": "evt_01JNMQ2V7KXYZ1234567890AB",
              "clientId": "ucqcjbxnuk",
              "pfTransactionId": "01JNMQ2V7KXYZ1234567890AB",
              "eventType": "candidate.creation.succeeded",
              "environment": "production",
              "version": "1.0",
              "timestamp": "2024-01-15T10:30:00.000Z",
              "data": {
                "statusCode": 200,
                "status": "succeeded",
                "message": "success",
                "entityId": "cand_01JNMQ2V7K",
                "entityType": "candidate",
                "externalCandidateId": "ext_cand_98765"
              },
              "meta": {
                "pfTransactionId": "01JNMQ2V7KXYZ1234567890AB",
                "sourceService": "candidate-service"
              }
            }
          ]
        }
      },
      "CandidateCreationFailedWebhook": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookBody"
          },
          {
            "type": "object",
            "properties": {
              "eventType": {
                "type": "string",
                "enum": [
                  "candidate.creation.failed"
                ],
                "example": "candidate.creation.failed"
              },
              "data": {
                "$ref": "#/components/schemas/CandidateEventData"
              },
              "meta": {
                "$ref": "#/components/schemas/WebhookMeta"
              }
            }
          }
        ]
      },
      "CandidateCreationFailedEnvelope": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookEnvelope"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CandidateCreationFailedWebhook"
                }
              }
            }
          }
        ],
        "example": {
          "data": [
            {
              "id": "evt_01JNMQ2V7KXYZ1234567890AB",
              "clientId": "ucqcjbxnuk",
              "pfTransactionId": "01JNMQ2V7KXYZ1234567890AB",
              "eventType": "candidate.creation.failed",
              "environment": "production",
              "version": "1.0",
              "timestamp": "2024-01-15T10:30:00.000Z",
              "data": {
                "statusCode": 500,
                "status": "failed",
                "message": "something went wrong",
                "code": "INTERNAL_SERVER_ERROR",
                "entityType": "candidate",
                "externalCandidateId": "ext_cand_98765"
              },
              "meta": {
                "pfTransactionId": "01JNMQ2V7KXYZ1234567890AB",
                "sourceService": "candidate-service"
              }
            }
          ]
        }
      },
      "CandidateUpdateSucceededWebhook": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookBody"
          },
          {
            "type": "object",
            "properties": {
              "eventType": {
                "type": "string",
                "enum": [
                  "candidate.update.succeeded"
                ],
                "example": "candidate.update.succeeded"
              },
              "data": {
                "$ref": "#/components/schemas/CandidateEventData"
              },
              "meta": {
                "$ref": "#/components/schemas/WebhookMeta"
              }
            }
          }
        ]
      },
      "CandidateUpdateSucceededEnvelope": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookEnvelope"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CandidateUpdateSucceededWebhook"
                }
              }
            }
          }
        ],
        "example": {
          "data": [
            {
              "id": "evt_01JNMQ2V7KXYZ1234567890AB",
              "clientId": "ucqcjbxnuk",
              "pfTransactionId": "01JNMQ2V7KXYZ1234567890AB",
              "eventType": "candidate.update.succeeded",
              "environment": "production",
              "version": "1.0",
              "timestamp": "2024-01-15T10:30:00.000Z",
              "data": {
                "statusCode": 200,
                "status": "succeeded",
                "message": "success",
                "entityId": "cand_01JNMQ2V7K",
                "entityType": "candidate",
                "externalCandidateId": "ext_cand_98765"
              },
              "meta": {
                "pfTransactionId": "01JNMQ2V7KXYZ1234567890AB",
                "sourceService": "candidate-service"
              }
            }
          ]
        }
      },
      "CandidateUpdateFailedWebhook": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookBody"
          },
          {
            "type": "object",
            "properties": {
              "eventType": {
                "type": "string",
                "enum": [
                  "candidate.update.failed"
                ],
                "example": "candidate.update.failed"
              },
              "data": {
                "$ref": "#/components/schemas/CandidateEventData"
              },
              "meta": {
                "$ref": "#/components/schemas/WebhookMeta"
              }
            }
          }
        ]
      },
      "CandidateUpdateFailedEnvelope": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookEnvelope"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CandidateUpdateFailedWebhook"
                }
              }
            }
          }
        ],
        "example": {
          "data": [
            {
              "id": "evt_01JNMQ2V7KXYZ1234567890AB",
              "clientId": "ucqcjbxnuk",
              "pfTransactionId": "01JNMQ2V7KXYZ1234567890AB",
              "eventType": "candidate.update.failed",
              "environment": "production",
              "version": "1.0",
              "timestamp": "2024-01-15T10:30:00.000Z",
              "data": {
                "statusCode": 500,
                "status": "failed",
                "message": "something went wrong",
                "code": "INTERNAL_SERVER_ERROR",
                "entityType": "candidate",
                "externalCandidateId": "ext_cand_98765"
              },
              "meta": {
                "pfTransactionId": "01JNMQ2V7KXYZ1234567890AB",
                "sourceService": "candidate-service"
              }
            }
          ]
        }
      },
      "CandidateResumeParsingEventData": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookDataBase"
          },
          {
            "type": "object",
            "properties": {
              "entityType": {
                "type": "string",
                "enum": [
                  "candidate-upload"
                ],
                "example": "candidate-upload"
              },
              "candidateId": {
                "type": "string",
                "description": "Internal Prism candidate ID",
                "example": "cand_01JNMQ2V7K"
              },
              "externalCandidateId": {
                "type": "string",
                "description": "Client-supplied candidate ID",
                "example": "ext_cand_98765"
              }
            }
          }
        ]
      },
      "CandidateResumeParsingSucceededWebhook": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookBody"
          },
          {
            "type": "object",
            "properties": {
              "eventType": {
                "type": "string",
                "enum": [
                  "candidate.resume.parsing.succeeded"
                ],
                "example": "candidate.resume.parsing.succeeded"
              },
              "data": {
                "$ref": "#/components/schemas/CandidateResumeParsingEventData"
              },
              "meta": {
                "$ref": "#/components/schemas/WebhookMeta"
              }
            }
          }
        ]
      },
      "CandidateResumeParsingSucceededEnvelope": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookEnvelope"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CandidateResumeParsingSucceededWebhook"
                }
              }
            }
          }
        ],
        "example": {
          "data": [
            {
              "id": "evt_01JNMQ2V7KXYZ1234567890AB",
              "clientId": "ucqcjbxnuk",
              "pfTransactionId": "01JNMQ2V7KXYZ1234567890AB",
              "eventType": "candidate.resume.parsing.succeeded",
              "environment": "production",
              "version": "1.0",
              "timestamp": "2024-01-15T10:30:00.000Z",
              "data": {
                "statusCode": 200,
                "status": "succeeded",
                "message": "success",
                "entityId": "resume_01JNMQ2V7K",
                "entityType": "candidate-upload",
                "candidateId": "cand_01JNMQ2V7K",
                "externalCandidateId": "ext_cand_98765"
              },
              "meta": {
                "pfTransactionId": "01JNMQ2V7KXYZ1234567890AB",
                "sourceService": "candidate-service"
              }
            }
          ]
        }
      },
      "CandidateResumeParsingFailedWebhook": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookBody"
          },
          {
            "type": "object",
            "properties": {
              "eventType": {
                "type": "string",
                "enum": [
                  "candidate.resume.parsing.failed"
                ],
                "example": "candidate.resume.parsing.failed"
              },
              "data": {
                "$ref": "#/components/schemas/CandidateResumeParsingEventData"
              },
              "meta": {
                "$ref": "#/components/schemas/WebhookMeta"
              }
            }
          }
        ]
      },
      "CandidateResumeParsingFailedEnvelope": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookEnvelope"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CandidateResumeParsingFailedWebhook"
                }
              }
            }
          }
        ],
        "example": {
          "data": [
            {
              "id": "evt_01JNMQ2V7KXYZ1234567890AB",
              "clientId": "ucqcjbxnuk",
              "pfTransactionId": "01JNMQ2V7KXYZ1234567890AB",
              "eventType": "candidate.resume.parsing.failed",
              "environment": "production",
              "version": "1.0",
              "timestamp": "2024-01-15T10:30:00.000Z",
              "data": {
                "statusCode": 500,
                "status": "failed",
                "message": "something went wrong",
                "code": "INTERNAL_SERVER_ERROR",
                "entityType": "candidate-upload",
                "externalCandidateId": "ext_cand_98765"
              },
              "meta": {
                "pfTransactionId": "01JNMQ2V7KXYZ1234567890AB",
                "sourceService": "candidate-service"
              }
            }
          ]
        }
      },
      "CandidateItem": {
        "type": "object",
        "required": [
          "email",
          "firstName",
          "lastName"
        ],
        "properties": {
          "candidateId": {
            "type": "string",
            "example": "cand_ext_123",
            "description": "External candidate ID (optional)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "john.doe@example.com",
            "description": "Candidate's email address"
          },
          "firstName": {
            "type": "string",
            "example": "John",
            "description": "Candidate's first name"
          },
          "lastName": {
            "type": "string",
            "example": "Doe",
            "description": "Candidate's last name"
          },
          "noticePeriod": {
            "type": "string",
            "example": "30 days",
            "description": "Notice period (optional)"
          },
          "yearsOfExperience": {
            "type": "string",
            "example": "5",
            "description": "Years of experience (optional)"
          },
          "currentRole": {
            "type": "string",
            "example": "Software Engineer",
            "description": "Current role (optional)"
          },
          "currentCtc": {
            "type": "string",
            "example": "15 LPA",
            "description": "Current CTC (optional)"
          },
          "currentCity": {
            "type": "string",
            "example": "Bangalore",
            "description": "Current city (optional)"
          }
        }
      },
      "AddCandidatesRequest": {
        "type": "object",
        "required": [
          "candidates"
        ],
        "properties": {
          "invite": {
            "type": "boolean",
            "example": true,
            "description": "Whether to send invitation email to candidates"
          },
          "expiresInDays": {
            "type": "integer",
            "example": 7,
            "description": "Number of days until assessment invitation expires"
          },
          "candidates": {
            "type": "array",
            "minItems": 1,
            "maxItems": 100,
            "items": {
              "$ref": "#/components/schemas/CandidateItem"
            },
            "description": "Array of candidates to add (1-100 candidates)"
          }
        }
      },
      "CandidateResumeRequest": {
        "type": "object",
        "required": [
          "candidateId",
          "fileType",
          "fileName",
          "base64EncodedFileContents"
        ],
        "properties": {
          "candidateId": {
            "type": "string",
            "example": "cand_123456",
            "description": "Candidate ID to attach resume to"
          },
          "fileType": {
            "type": "string",
            "enum": [
              "pdf",
              "docx",
              "doc"
            ],
            "example": "pdf",
            "description": "Resume file type"
          },
          "fileName": {
            "type": "string",
            "example": "john_doe_resume.pdf",
            "description": "Name of the resume file"
          },
          "base64EncodedFileContents": {
            "type": "string",
            "format": "byte",
            "example": "JVBERi0xLjQKJeLjz9MKMSAwIG9iago8PC9UeXBlL...",
            "description": "Base64 encoded file contents"
          }
        }
      },
      "CandidateAssessmentRequest": {
        "type": "object",
        "required": [
          "assessmentId",
          "candidateId",
          "candidateAssessmentId"
        ],
        "properties": {
          "assessmentId": {
            "type": "string",
            "example": "assessment_123",
            "description": "Job assessment ID"
          },
          "candidateId": {
            "type": "string",
            "example": "candidate_456",
            "description": "Candidate ID"
          },
          "candidateAssessmentId": {
            "type": "string",
            "example": "ca_789",
            "description": "External candidate assessment ID"
          }
        }
      },
      "DuplicateEventErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer",
            "example": 409,
            "description": "HTTP status code"
          },
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Duplicate request"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "CONFLICT"
              },
              "details": {
                "type": "string",
                "example": "Request with this eventId has already been processed"
              }
            }
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer",
            "example": 200,
            "description": "HTTP status code"
          },
          "success": {
            "type": "boolean",
            "example": true,
            "description": "Indicates if the request was successful"
          },
          "data": {
            "type": "object",
            "description": "Response payload data"
          },
          "message": {
            "type": "string",
            "example": "Request processed successfully",
            "description": "Human-readable success message"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer",
            "example": 400,
            "description": "HTTP status code"
          },
          "success": {
            "type": "boolean",
            "example": false,
            "description": "Always false for errors"
          },
          "message": {
            "type": "string",
            "example": "Request validation failed",
            "description": "Human-readable error message"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "VALIDATION_ERROR",
                "description": "Machine-readable error code"
              },
              "details": {
                "type": "string",
                "example": "Invalid request parameters",
                "description": "Detailed error information"
              }
            }
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": {
              "email": [
                "email is required",
                "email must be valid"
              ],
              "firstName": [
                "firstName is required"
              ]
            },
            "description": "Field-specific validation errors"
          }
        }
      },
      "UnauthorizedError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Unauthorized"
          }
        }
      },
      "ConflictError": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer",
            "example": 409
          },
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Duplicate eventId detected"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "DUPLICATE_EVENT_ID"
              },
              "details": {
                "type": "string",
                "example": "Request with this eventId has already been processed"
              }
            }
          }
        }
      },
      "RateLimitError": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer",
            "example": 429
          },
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Too many requests - rate limit exceeded"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "RATE_LIMIT_EXCEEDED"
              },
              "details": {
                "type": "string",
                "example": "Please retry after some time"
              }
            }
          }
        }
      },
      "AcceptedResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer",
            "example": 202,
            "description": "HTTP status code for accepted requests"
          },
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object"
          },
          "message": {
            "type": "string",
            "example": "Request accepted for processing",
            "description": "Indicates async processing has started"
          }
        }
      },
      "SearchAndMatchData": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "success"
          },
          "candidateAssessmentId": {
            "type": "string",
            "example": "ca_123456"
          },
          "externalCandidateAssessmentId": {
            "type": "string",
            "nullable": true,
            "example": "ext_ca_123456"
          },
          "matchScore": {
            "type": "number",
            "nullable": true,
            "example": 78.5
          },
          "recommendation": {
            "type": "string",
            "example": "Strong match"
          },
          "justification": {
            "type": "string",
            "nullable": true,
            "example": "Strong match"
          }
        }
      },
      "StatusMessageDataSuccessResponse": {
        "type": "object",
        "required": [
          "status",
          "statusCode",
          "message",
          "data"
        ],
        "properties": {
          "status": {
            "type": "string",
            "example": "success"
          },
          "statusCode": {
            "type": "integer",
            "example": 200,
            "description": "HTTP status code (2xx)"
          },
          "message": {
            "type": "string",
            "description": "Human-readable success message"
          },
          "data": {
            "type": "object",
            "description": "Response payload (shape varies by endpoint)"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Optional ISO 8601 timestamp"
          }
        }
      },
      "SearchAndMatchDataSuccessResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/StatusMessageDataSuccessResponse"
          },
          {
            "type": "object",
            "properties": {
              "message": {
                "example": "Search and match data found!"
              },
              "data": {
                "$ref": "#/components/schemas/SearchAndMatchData"
              },
              "timestamp": {
                "type": "string",
                "format": "date-time",
                "description": "ISO 8601 timestamp"
              }
            }
          }
        ]
      },
      "StatusMessageTimestampErrorResponseBase": {
        "type": "object",
        "required": [
          "status",
          "message",
          "timestamp"
        ],
        "properties": {
          "status": {
            "type": "string",
            "example": "error"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp"
          }
        }
      },
      "StatusMessageTimestampErrorResponse404": {
        "allOf": [
          {
            "$ref": "#/components/schemas/StatusMessageTimestampErrorResponseBase"
          },
          {
            "type": "object",
            "required": [
              "statusCode"
            ],
            "properties": {
              "statusCode": {
                "type": "integer",
                "example": 404,
                "description": "HTTP 404 Not Found"
              }
            }
          }
        ]
      },
      "StatusMessageTimestampErrorResponse500": {
        "allOf": [
          {
            "$ref": "#/components/schemas/StatusMessageTimestampErrorResponseBase"
          },
          {
            "type": "object",
            "required": [
              "statusCode"
            ],
            "properties": {
              "statusCode": {
                "type": "integer",
                "example": 500,
                "description": "HTTP 500 Internal Server Error"
              }
            }
          }
        ]
      },
      "CandidateAssessmentSuccessResponse": {
        "type": "object",
        "required": [
          "success",
          "data",
          "message"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "required": [
              "candidateId",
              "assessmentId",
              "candidateAssessmentId"
            ],
            "properties": {
              "candidateId": {
                "type": "string",
                "example": "candidate_456"
              },
              "assessmentId": {
                "type": "string",
                "example": "assessment_123"
              },
              "candidateAssessmentId": {
                "type": "string",
                "example": "ca_789"
              }
            }
          },
          "message": {
            "type": "string",
            "example": "Candidate added to assessment successfully"
          }
        }
      },
      "CandidateAssessmentInternalErrorResponse": {
        "type": "object",
        "required": [
          "success",
          "error",
          "message"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "details"
            ],
            "properties": {
              "code": {
                "type": "string",
                "example": "INTERNAL_SERVER_ERROR"
              },
              "details": {
                "type": "string",
                "example": "Internal Server Error"
              }
            }
          },
          "message": {
            "type": "string",
            "example": "Failed to add candidate to assessment"
          }
        }
      },
      "SearchAndMatchWebhookSuccessResponse": {
        "type": "object",
        "required": [
          "success",
          "message"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Webhook received successfully"
          }
        }
      },
      "ForbiddenResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Forbidden"
          }
        }
      },
      "EmptyObjectResponse": {
        "type": "object",
        "description": "Empty object returned on webhook processing error"
      },
      "AddCandidatesSuccessResponseSync": {
        "type": "object",
        "required": [
          "success",
          "data",
          "message"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "invitationRequestId": {
            "type": "string",
            "description": "Optional invitation request ID (when invite is true)"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Array of candidate upload results"
          },
          "message": {
            "type": "string",
            "example": "Candidates added successfully"
          }
        }
      },
      "AddCandidatesSuccessResponseAsync": {
        "type": "object",
        "required": [
          "success",
          "data",
          "message"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "required": [
              "requestId",
              "candidateCount"
            ],
            "properties": {
              "requestId": {
                "type": "string",
                "example": "req_abc123"
              },
              "candidateCount": {
                "type": "integer",
                "example": 5
              }
            }
          },
          "message": {
            "type": "string",
            "example": "Candidate addition request submitted for 5 candidates. Candidates will be processed and added to the assessment."
          }
        }
      },
      "ResumeUploadSuccessResponse": {
        "type": "object",
        "required": [
          "success",
          "data",
          "message"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "description": "Empty object on success"
          },
          "message": {
            "type": "string",
            "example": "Resume uploaded successfully"
          }
        }
      },
      "ResumeUploadErrorResponse": {
        "type": "object",
        "required": [
          "success",
          "error"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "details"
            ],
            "properties": {
              "code": {
                "type": "string",
                "example": "INTERNAL_SERVER_ERROR"
              },
              "details": {
                "type": "string",
                "example": "Internal Server Error"
              }
            }
          }
        }
      },
      "InterviewCreationSuccessResponse": {
        "type": "object",
        "required": [
          "statusCode",
          "success",
          "data",
          "message"
        ],
        "properties": {
          "statusCode": {
            "type": "integer",
            "example": 202
          },
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "description": "Empty object"
          },
          "message": {
            "type": "string",
            "example": "Interview creation request accepted"
          }
        }
      },
      "InterviewCreationErrorResponse": {
        "type": "object",
        "required": [
          "statusCode",
          "success",
          "error",
          "message"
        ],
        "properties": {
          "statusCode": {
            "type": "integer",
            "example": 400
          },
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Interview creation request failed"
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "details"
            ],
            "properties": {
              "code": {
                "type": "string",
                "example": "VALIDATION_ERROR"
              },
              "details": {
                "type": "string",
                "example": "Invalid request parameters"
              }
            }
          }
        }
      },
      "InterviewRegenerateSuccessResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/StatusMessageDataSuccessResponse"
          },
          {
            "type": "object",
            "required": [
              "success"
            ],
            "properties": {
              "statusCode": {
                "example": 200
              },
              "status": {
                "example": "success"
              },
              "success": {
                "type": "boolean",
                "example": true
              },
              "data": {
                "type": "object",
                "description": "Empty object"
              },
              "message": {
                "example": "Interview regeneration request accepted"
              }
            }
          }
        ]
      },
      "RecordingDetailsSuccessResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/StatusMessageDataSuccessResponse"
          },
          {
            "type": "object",
            "properties": {
              "message": {
                "example": "Recording details retrieved successfully"
              },
              "data": {
                "type": "object",
                "required": [
                  "recordingUrl",
                  "recordingId",
                  "recordingStatus",
                  "interviewId"
                ],
                "properties": {
                  "recordingUrl": {
                    "type": "string",
                    "example": "https://example.com/recording.mp4"
                  },
                  "recordingId": {
                    "type": "string",
                    "example": "rec_123456"
                  },
                  "recordingStatus": {
                    "type": "string",
                    "enum": [
                      "completed",
                      "in_progress",
                      "failed"
                    ],
                    "example": "completed"
                  },
                  "interviewId": {
                    "type": "string",
                    "example": "intv_123456"
                  }
                }
              }
            }
          }
        ]
      },
      "RecordingDetailsErrorResponse": {
        "type": "object",
        "required": [
          "success",
          "message",
          "error"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Error retrieving recording details"
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "details"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "details": {
                "type": "string"
              }
            }
          }
        }
      },
      "ProctoringDataSuccessResponse": {
        "type": "object",
        "required": [
          "success",
          "message",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Recording details retrieved successfully"
          },
          "data": {
            "type": "object",
            "required": [
              "clientId",
              "interviewId",
              "details"
            ],
            "properties": {
              "clientId": {
                "type": "string"
              },
              "interviewId": {
                "type": "string"
              },
              "details": {
                "type": "object"
              }
            }
          }
        }
      },
      "ProctoringDataErrorResponse": {
        "type": "object",
        "required": [
          "success",
          "message",
          "error"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Error retrieving recording details"
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "details"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "details": {
                "type": "string"
              }
            }
          }
        }
      },
      "InterviewResultsSuccessResponse": {
        "type": "object",
        "required": [
          "success",
          "data",
          "message"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Interview results retrieved successfully"
          },
          "data": {
            "type": "object",
            "description": "Interview report from getInterviewResults",
            "properties": {
              "jobTitle": {
                "type": "string"
              },
              "jobRole": {
                "type": "string"
              },
              "system": {
                "type": "string",
                "nullable": true
              },
              "jobAssessment": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string"
                  },
                  "requirements": {
                    "type": "array"
                  },
                  "responsibilities": {
                    "type": "array"
                  },
                  "skills": {
                    "type": "array"
                  },
                  "location": {
                    "type": "object"
                  },
                  "employmentType": {
                    "type": "string"
                  },
                  "seniorityLevel": {
                    "type": "string"
                  },
                  "noticePeriod": {
                    "type": "string"
                  },
                  "isManager": {
                    "type": "boolean"
                  },
                  "ctcRange": {
                    "type": "string"
                  },
                  "difficulty": {
                    "type": "string"
                  },
                  "joiningTimeframe": {
                    "type": "string"
                  },
                  "system": {
                    "type": "string"
                  },
                  "systemId": {
                    "type": "string"
                  },
                  "externalSystemId": {
                    "type": "string"
                  },
                  "assessmentType": {
                    "type": "string"
                  },
                  "clientId": {
                    "type": "string"
                  },
                  "createdBy": {
                    "type": "string"
                  }
                }
              },
              "interviewData": {
                "type": "object",
                "properties": {
                  "interviewId": {
                    "type": "string"
                  },
                  "interviewCode": {
                    "type": "string"
                  },
                  "scheduledDate": {},
                  "expiredDate": {},
                  "startTime": {},
                  "endTime": {},
                  "duration": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  }
                }
              },
              "candidateData": {
                "type": "object",
                "properties": {
                  "candidateId": {
                    "type": "string"
                  },
                  "extCandidateId": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "noticePeriod": {
                    "type": "string"
                  },
                  "yoe": {
                    "type": "string"
                  },
                  "currentRole": {
                    "type": "string"
                  },
                  "currentCtc": {
                    "type": "string"
                  },
                  "currentCity": {
                    "type": "string"
                  },
                  "resumeUrl": {
                    "type": "string"
                  }
                }
              },
              "hrQuestions": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "technicalQuestions": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "codingQuestions": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "sectionStatus": {
                "type": "object",
                "nullable": true
              },
              "summary": {
                "type": "object",
                "nullable": true
              },
              "proctoring": {
                "type": "object",
                "nullable": true
              },
              "assessment": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "leadership": {
                    "type": "object"
                  },
                  "programming": {
                    "type": "object"
                  }
                }
              },
              "preScreening": {
                "type": "object",
                "nullable": true
              },
              "jobAssessmentMatchScore": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string"
                  },
                  "scoreInPercentage": {
                    "type": "string"
                  },
                  "reasoning": {
                    "type": "string"
                  }
                }
              },
              "proctoringRaw": {},
              "candidateAssessmentId": {
                "type": "string"
              },
              "externalCandidateAssessmentId": {
                "type": "string",
                "description": "Present when attachExtCandAsmntId option is true"
              },
              "recordingDetails": {
                "type": "object",
                "nullable": true,
                "description": "Present when recordingDetails option is true",
                "properties": {
                  "recordingId": {
                    "type": "string"
                  },
                  "recordingUrl": {
                    "type": "string"
                  },
                  "recordingStatus": {
                    "type": "string"
                  },
                  "interviewId": {
                    "type": "string"
                  }
                }
              },
              "searchAndMatchData": {
                "type": "object",
                "nullable": true,
                "description": "Present when searchAndMatchData option is true"
              },
              "shareableLink": {
                "type": "string",
                "description": "Present when host is configured"
              }
            }
          }
        }
      },
      "InterviewResultsDataErrorResponse": {
        "type": "object",
        "required": [
          "success",
          "message",
          "error"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Error retrieving interview results | Interview result not found"
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "details"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "details": {
                "type": "string"
              }
            }
          }
        }
      },
      "CreateInterviewItem": {
        "type": "object",
        "required": [
          "eventId",
          "externalCandidateAssessmentId",
          "expiryInSeconds"
        ],
        "properties": {
          "eventId": {
            "type": "string",
            "minLength": 1,
            "example": "evt_1238912",
            "description": "Client-provided event ID for duplicate prevention"
          },
          "externalCandidateAssessmentId": {
            "type": "string",
            "minLength": 1,
            "example": "87487364234",
            "description": "Candidate Assessment ID for which interview is to be created"
          },
          "expiryInSeconds": {
            "type": "integer",
            "minimum": 60,
            "maximum": 864000,
            "example": 864000,
            "description": "Expiry time for the interview in seconds"
          }
        }
      },
      "RegenerateInterviewRequest": {
        "type": "object",
        "required": [
          "eventId",
          "interviewId",
          "expiryInSeconds"
        ],
        "properties": {
          "eventId": {
            "type": "string",
            "minLength": 1,
            "example": "evt_regen_123",
            "description": "Event ID for duplicate prevention"
          },
          "interviewId": {
            "type": "string",
            "minLength": 1,
            "example": "intv_987654",
            "description": "Interview ID which needs to be reset"
          },
          "expiryInSeconds": {
            "type": "integer",
            "minimum": 60,
            "maximum": 864000,
            "example": 86400,
            "description": "New expiry time for the interview in seconds"
          }
        }
      },
      "InterviewCreationSucceededData": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookDataBase"
          },
          {
            "type": "object",
            "required": [
              "interviewId",
              "interviewLink",
              "expiryDate",
              "candidateAssessmentId",
              "externalCandidateAssessmentId"
            ],
            "properties": {
              "entityType": {
                "type": "string",
                "enum": [
                  "interview"
                ],
                "example": "interview"
              },
              "interviewId": {
                "type": "string",
                "description": "Prism interview ID",
                "example": "intv_01JNMQ2V7K"
              },
              "interviewLink": {
                "type": "string",
                "format": "uri",
                "description": "Link the candidate uses to start the interview",
                "example": "https://app.prismforce.com/interview/intv_01JNMQ2V7K"
              },
              "expiryDate": {
                "type": "string",
                "format": "date-time",
                "description": "Date-time after which the interview link expires",
                "example": "2024-01-25T10:30:00.000Z"
              },
              "candidateAssessmentId": {
                "type": "string",
                "description": "Internal Prism candidate assessment ID",
                "example": "ca_01JNMQ2V7K"
              },
              "externalCandidateAssessmentId": {
                "type": "string",
                "description": "Client-supplied candidate assessment ID",
                "example": "ext_ca_12345"
              }
            }
          }
        ]
      },
      "InterviewCreationSucceededWebhook": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookBody"
          },
          {
            "type": "object",
            "properties": {
              "eventType": {
                "type": "string",
                "enum": [
                  "interview.creation.succeeded"
                ],
                "example": "interview.creation.succeeded"
              },
              "data": {
                "$ref": "#/components/schemas/InterviewCreationSucceededData"
              },
              "meta": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/WebhookMeta"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "candidateAssessmentId": {
                        "type": "string",
                        "example": "ca_01JNMQ2V7K"
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "InterviewCreationSucceededEnvelope": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookEnvelope"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InterviewCreationSucceededWebhook"
                }
              }
            }
          }
        ],
        "example": {
          "data": [
            {
              "id": "evt_01JNMQ2V7KXYZ1234567890AB",
              "clientId": "ucqcjbxnuk",
              "pfTransactionId": "01JNMQ2V7KXYZ1234567890AB",
              "eventType": "interview.creation.succeeded",
              "environment": "production",
              "version": "1.0",
              "timestamp": "2024-01-15T10:30:00.000Z",
              "data": {
                "statusCode": 200,
                "status": "succeeded",
                "message": "success",
                "entityId": "intv_01JNMQ2V7K",
                "entityType": "interview",
                "interviewId": "intv_01JNMQ2V7K",
                "interviewLink": "https://app.prismforce.com/interview/intv_01JNMQ2V7K",
                "expiryDate": "2024-01-25T10:30:00.000Z",
                "candidateAssessmentId": "ca_01JNMQ2V7K",
                "externalCandidateAssessmentId": "ext_ca_12345"
              },
              "meta": {
                "pfTransactionId": "01JNMQ2V7KXYZ1234567890AB",
                "sourceService": "core-api",
                "candidateAssessmentId": "ca_01JNMQ2V7K"
              }
            }
          ]
        }
      },
      "InterviewCreationFailedData": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookDataBase"
          },
          {
            "type": "object",
            "required": [
              "externalCandidateAssessmentId"
            ],
            "properties": {
              "externalCandidateAssessmentId": {
                "type": "string",
                "description": "Client-supplied candidate assessment ID",
                "example": "ext_ca_12345"
              },
              "candidateAssessmentId": {
                "type": "string",
                "description": "Present when the candidate assessment record was found",
                "example": "ca_01JNMQ2V7K"
              }
            }
          }
        ]
      },
      "InterviewCreationFailedWebhook": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookBody"
          },
          {
            "type": "object",
            "properties": {
              "eventType": {
                "type": "string",
                "enum": [
                  "interview.creation.failed"
                ],
                "example": "interview.creation.failed"
              },
              "data": {
                "$ref": "#/components/schemas/InterviewCreationFailedData"
              },
              "meta": {
                "$ref": "#/components/schemas/WebhookMeta"
              }
            }
          }
        ]
      },
      "InterviewCreationFailedEnvelope": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookEnvelope"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InterviewCreationFailedWebhook"
                }
              }
            }
          }
        ],
        "example": {
          "data": [
            {
              "id": "evt_01JNMQ2V7KXYZ1234567890AB",
              "clientId": "ucqcjbxnuk",
              "pfTransactionId": "01JNMQ2V7KXYZ1234567890AB",
              "eventType": "interview.creation.failed",
              "environment": "production",
              "version": "1.0",
              "timestamp": "2024-01-15T10:30:00.000Z",
              "data": {
                "statusCode": 500,
                "status": "failed",
                "message": "something went wrong",
                "code": "INTERNAL_SERVER_ERROR",
                "externalCandidateAssessmentId": "ext_ca_12345"
              },
              "meta": {
                "pfTransactionId": "01JNMQ2V7KXYZ1234567890AB",
                "sourceService": "core-api"
              }
            }
          ]
        }
      },
      "InterviewResetSucceededData": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookDataBase"
          },
          {
            "type": "object",
            "required": [
              "interviewId",
              "previousInterviewId",
              "interviewLink",
              "expiryDate"
            ],
            "properties": {
              "entityType": {
                "type": "string",
                "enum": [
                  "interview"
                ],
                "example": "interview"
              },
              "interviewId": {
                "type": "string",
                "description": "New interview ID after reset",
                "example": "intv_01JNMQ2V7K"
              },
              "previousInterviewId": {
                "type": "string",
                "description": "Interview ID that was reset and replaced",
                "example": "intv_01JNMPREV"
              },
              "interviewLink": {
                "type": "string",
                "format": "uri",
                "description": "New interview link for the candidate",
                "example": "https://app.prismforce.com/interview/intv_01JNMQ2V7K"
              },
              "expiryDate": {
                "type": "string",
                "format": "date-time",
                "description": "Expiry date of the new interview link",
                "example": "2024-01-25T10:30:00.000Z"
              }
            }
          }
        ]
      },
      "InterviewResetSucceededWebhook": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookBody"
          },
          {
            "type": "object",
            "properties": {
              "eventType": {
                "type": "string",
                "enum": [
                  "interview.reset.succeeded"
                ],
                "example": "interview.reset.succeeded"
              },
              "data": {
                "$ref": "#/components/schemas/InterviewResetSucceededData"
              },
              "meta": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/WebhookMeta"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "candidateAssessmentId": {
                        "type": "string",
                        "example": "ca_01JNMQ2V7K"
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "InterviewResetSucceededEnvelope": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookEnvelope"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InterviewResetSucceededWebhook"
                }
              }
            }
          }
        ],
        "example": {
          "data": [
            {
              "id": "evt_01JNMQ2V7KXYZ1234567890AB",
              "clientId": "ucqcjbxnuk",
              "pfTransactionId": "01JNMQ2V7KXYZ1234567890AB",
              "eventType": "interview.reset.succeeded",
              "environment": "production",
              "version": "1.0",
              "timestamp": "2024-01-15T10:30:00.000Z",
              "data": {
                "statusCode": 200,
                "status": "succeeded",
                "message": "success",
                "entityId": "intv_01JNMQ2V7K",
                "entityType": "interview",
                "interviewId": "intv_01JNMQ2V7K",
                "previousInterviewId": "intv_01JNMPREV",
                "interviewLink": "https://app.prismforce.com/interview/intv_01JNMQ2V7K",
                "expiryDate": "2024-01-25T10:30:00.000Z"
              },
              "meta": {
                "pfTransactionId": "01JNMQ2V7KXYZ1234567890AB",
                "sourceService": "core-api",
                "candidateAssessmentId": "ca_01JNMQ2V7K"
              }
            }
          ]
        }
      },
      "InterviewResetFailedData": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookDataBase"
          },
          {
            "type": "object",
            "required": [
              "interviewId"
            ],
            "properties": {
              "interviewId": {
                "type": "string",
                "description": "ID of the interview that failed to reset",
                "example": "intv_01JNMQ2V7K"
              }
            }
          }
        ]
      },
      "InterviewResetFailedWebhook": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookBody"
          },
          {
            "type": "object",
            "properties": {
              "eventType": {
                "type": "string",
                "enum": [
                  "interview.reset.failed"
                ],
                "example": "interview.reset.failed"
              },
              "data": {
                "$ref": "#/components/schemas/InterviewResetFailedData"
              },
              "meta": {
                "$ref": "#/components/schemas/WebhookMeta"
              }
            }
          }
        ]
      },
      "InterviewResetFailedEnvelope": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookEnvelope"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InterviewResetFailedWebhook"
                }
              }
            }
          }
        ],
        "example": {
          "data": [
            {
              "id": "evt_01JNMQ2V7KXYZ1234567890AB",
              "clientId": "ucqcjbxnuk",
              "pfTransactionId": "01JNMQ2V7KXYZ1234567890AB",
              "eventType": "interview.reset.failed",
              "environment": "production",
              "version": "1.0",
              "timestamp": "2024-01-15T10:30:00.000Z",
              "data": {
                "statusCode": 500,
                "status": "failed",
                "message": "something went wrong",
                "code": "INTERNAL_SERVER_ERROR",
                "interviewId": "intv_01JNMQ2V7K"
              },
[...]
